//- Navbar mixins
mixin nav(name, id, style)
	- var style = (typeof style === 'undefined') ? "default" : style
	nav( role="navigation", class=["navbar", "navbar-" + style] )
		.container
			.navbar-header
				button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#" + id, aria-expanded="false", aria-controls="navbar")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="#")= siteBrand

			.collapse.navbar-collapse( id=id )
				ul.nav.navbar-nav
					block

mixin nav_item(href, active)
	li(class=active): a( href=href )
		block

mixin nav_item_dropdown(href, active)
	li(class=["dropdown", active])
		a.dropdown-toggle( href=href, data-toggle="dropdown", role="button", aria-expanded="false" )= attributes.label
			span.caret
		ul.dropdown-menu( role="menu" )
			block

mixin nav_divider
	li.divider
	
mixin nav_header
	li.dropdown-header
		block
		
mixin mainNav 
	+nav( "Project name", "dropdown_menu", "inverse" )
		+nav_item( "/", "active" ) Home
		+nav_item_dropdown( "#" )( label="Projects" )
			+nav_item( "#" ) Action
			+nav_item( "#" ) Another action
			+nav_item( "#" ) Something else here
			+nav_divider
			+nav_header Nav header
			+nav_item( "#" ) Separated link
			+nav_item( "#" ) One more separated link
		+nav_item( "about.html" ) About
		+nav_item( "contact.html" ) Contact
		+nav_item( "guide.html" ) Guide
//- End navbar mixins
